
/trends-be/bin
/trends-be/build
/trends-be/.settings
/trends-be/infra/rethinkdb/


/trends-be/.gradle
/trends-be/build/
!/trends-be/gradle/wrapper/gradle-wrapper.jar

### STS ###
/trends-be/.apt_generated
/trends-be/.classpath
/trends-be/.factorypath
/trends-be/.project
/trends-be/.settings
/trends-be/.springBeans

### IntelliJ IDEA ###
/trends-be/.idea
/trends-be/*.iws
/trends-be/*.iml
/trends-be/*.ipr

### NetBeans ###
/trends-be/nbproject/private/
/trends-be/build/
/trends-be/nbbuild/
/trends-be/dist/
/trends-be/nbdist/
/trends-be/.nb-gradle/
/trends-be/target/

application_ignore.properties
