<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Twitter trends :: Popular hashtags</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<script src="/js/sseclient.js"></script>
		<script src="/js/menu.js"></script>
		
		<script type="text/javascript">
    
		    function onMsg(newHashtags) {
		        if(newHashtags.length > 0){
		        	document.getElementById("info").innerHTML = "";
		        }
		        var html = "<ul class=\"list-group\">";
		        for(var i=0; i < newHashtags.length; i++){
		        	var hashtag = newHashtags[i];
		        	var a = "<a target=\"_blank\" href=\"https://twitter.com/hashtag/" + hashtag.name.substring(1) + "\">" + hashtag.name + "</a>";
		        	html += "<li class=\"list-group-item\"><span class=\"badge\">" + hashtag.count + "</span>" + a + "</li>";
		        }
		        html += "</ul>";
		        document.getElementById("result").innerHTML = html;
		    }
		    
		    var client = new SseClient("/sse/hashtags", "info", onMsg);
		    client.start();

		</script>
	</head>

	<body>

		<div class="container">

			<div class="masthead">
				<h3 class="text-muted"><a href="/">Twitter trends</a></h3>
			</div>
      
            <br/>
      
			<div id="menu"></div>
      
			<script type="text/javascript">new Menu("hashtags", "menu").draw();</script>
		
			<br/>
      
			<div id="info">
				<div class="alert alert-danger" role="alert">Waiting for connection...</div>
			</div>

			<div id="result"></div>

		</div> 

	</body>
</html>


